/* ISU Color Guide
Cardinal: #C8102E
Gold: #F1BE48
Dark Brown: #524727
Light Brown Greenish: #9B945F
Light Brown: #CAC7A7
*/

/*Color for background of webpage*/
body {
    background-color: white;
}
/*Color for heading on each page*/
h1 {
   color: #C8102E;
}
/*Sytle for the login/signup form*/
login-form {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 100%;
}
/*Defining size to help with sections*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* The style for our 3 main secions */
.top {
    position:absolute;
    left:0; right:0;
    height: 80px;
}
.left {
    position: absolute;
    left:0; top:92px; bottom: 0;
    width: 184px;
    border: 3px solid black;
}
.main {
    position: absolute;
    left:183px; top:92px; right:0; bottom:0;
    border: 3px solid black;
}
/* Style for common links on all pages */
a.logout {
  color: #524727;
  text-decoration: none;
}
/*Buttons in the sidebar*/
.left .button {
    background-color: #F1BE48;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 178px;
    display: block;
}
/*When hovering over the button*/
.left .button:hover {
  background-color: #C8102E;
}
/*When clicking the button*/
.left .button:active {
  background-color: #C8102E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*Comment button */
.commentButton {
	background-color:#44c767;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:13px;
	padding:8px 36px;
	text-decoration:none;
	text-shadow:0px 0px 10px #2f6627;
}
.commentButton:hover {
	background-color:#5cbf2a;
}
.commentButton:active {
	position:relative;
	top:1px;
}

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

/* Style for the vote buttons*/
.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}


.vote.on {
  background-position: 0 2px;
}
