/* ISU Color Guide
Cardinal: #C8102E
Gold: #F1BE48
Dark Brown: #524727
Light Brown Greenish: #9B945F
Light Brown: #CAC7A7
*/

/*Color for background of webpage*/
body {
    background-color: white;
}
/*Color for heading on each page*/
h1 {
   color: #C8102E;
}
/*Sytle for the login/signup form*/
login-form {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 100%;
}
/*Defining size to help with sections*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* The style for our 3 main secions */
.top {
    position:absolute;
    left:0; right:0;
    height: 80px;
}
.left {
    position: absolute;
    left:0; top:92px; bottom: 0;
    width: 184px;
    border: 3px solid black;
}
.main {
    position: absolute;
    left:183px; top:92px; right:0; bottom:0;
    border: 3px solid black;
}
/* Style for common links on all pages */
a.logout {
  color: #524727;
  text-decoration: none;
}
/* Style for normal links */
@linkBlue: #0000ee;
a {
  color: @linkBlue;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:before {
    background-color: @linkBlue;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
  &:hover {
    &:before {
       width: 0;
    }
  }
}
.left #color1.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #59cc33), color-stop(1, #33cc33));
	background:-moz-linear-gradient(top, #59cc33 5%, #33cc33 100%);
	background:-webkit-linear-gradient(top, #59cc33 5%, #33cc33 100%);
	background:-o-linear-gradient(top, #59cc33 5%, #33cc33 100%);
	background:-ms-linear-gradient(top, #59cc33 5%, #33cc33 100%);
	background:linear-gradient(to bottom, #59cc33 5%, #33cc33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59cc33', endColorstr='#33cc33',GradientType=0);
	background-color:#59cc33;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color1.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33cc33), color-stop(1, #59cc33));
	background:-moz-linear-gradient(top, #33cc33 5%, #59cc33 100%);
	background:-webkit-linear-gradient(top, #33cc33 5%, #59cc33 100%);
	background:-o-linear-gradient(top, #33cc33 5%, #59cc33 100%);
	background:-ms-linear-gradient(top, #33cc33 5%, #59cc33 100%);
	background:linear-gradient(to bottom, #33cc33 5%, #59cc33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cc33', endColorstr='#59cc33',GradientType=0);
	background-color:#33cc33;
}
.left #color2.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cca633), color-stop(1, #cccc33));
	background:-moz-linear-gradient(top, #cca633 5%, #cccc33 100%);
	background:-webkit-linear-gradient(top, #cca633 5%, #cccc33 100%);
	background:-o-linear-gradient(top, #cca633 5%, #cccc33 100%);
	background:-ms-linear-gradient(top, #cca633 5%, #cccc33 100%);
	background:linear-gradient(to bottom, #cca633 5%, #cccc33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cca633', endColorstr='#cccc33',GradientType=0);
	background-color:#cca633;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color2.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccc33), color-stop(1, #cca633));
	background:-moz-linear-gradient(top, #cccc33 5%, #cca633 100%);
	background:-webkit-linear-gradient(top, #cccc33 5%, #cca633 100%);
	background:-o-linear-gradient(top, #cccc33 5%, #cca633 100%);
	background:-ms-linear-gradient(top, #cccc33 5%, #cca633 100%);
	background:linear-gradient(to bottom, #cccc33 5%, #cca633 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccc33', endColorstr='#cca633',GradientType=0);
	background-color:#cccc33;
}
.left #color3.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33a6cc), color-stop(1, #33cccc));
	background:-moz-linear-gradient(top, #33a6cc 5%, #33cccc 100%);
	background:-webkit-linear-gradient(top, #33a6cc 5%, #33cccc 100%);
	background:-o-linear-gradient(top, #33a6cc 5%, #33cccc 100%);
	background:-ms-linear-gradient(top, #33a6cc 5%, #33cccc 100%);
	background:linear-gradient(to bottom, #33a6cc 5%, #33cccc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#33cccc',GradientType=0);
	background-color:#33a6cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color3.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33cccc), color-stop(1, #33a6cc));
	background:-moz-linear-gradient(top, #33cccc 5%, #33a6cc 100%);
	background:-webkit-linear-gradient(top, #33cccc 5%, #33a6cc 100%);
	background:-o-linear-gradient(top, #33cccc 5%, #33a6cc 100%);
	background:-ms-linear-gradient(top, #33cccc 5%, #33a6cc 100%);
	background:linear-gradient(to bottom, #33cccc 5%, #33a6cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cccc', endColorstr='#33a6cc',GradientType=0);
	background-color:#33cccc;
}
.left #color4.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5933cc), color-stop(1, #3333cc));
	background:-moz-linear-gradient(top, #5933cc 5%, #3333cc 100%);
	background:-webkit-linear-gradient(top, #5933cc 5%, #3333cc 100%);
	background:-o-linear-gradient(top, #5933cc 5%, #3333cc 100%);
	background:-ms-linear-gradient(top, #5933cc 5%, #3333cc 100%);
	background:linear-gradient(to bottom, #5933cc 5%, #3333cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5933cc', endColorstr='#3333cc',GradientType=0);
	background-color:#5933cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color4.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3333cc), color-stop(1, #5933cc));
	background:-moz-linear-gradient(top, #3333cc 5%, #5933cc 100%);
	background:-webkit-linear-gradient(top, #3333cc 5%, #5933cc 100%);
	background:-o-linear-gradient(top, #3333cc 5%, #5933cc 100%);
	background:-ms-linear-gradient(top, #3333cc 5%, #5933cc 100%);
	background:linear-gradient(to bottom, #3333cc 5%, #5933cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3333cc', endColorstr='#5933cc',GradientType=0);
	background-color:#3333cc;
}
.left #color5.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc33cc), color-stop(1, #a633cc));
	background:-moz-linear-gradient(top, #cc33cc 5%, #a633cc 100%);
	background:-webkit-linear-gradient(top, #cc33cc 5%, #a633cc 100%);
	background:-o-linear-gradient(top, #cc33cc 5%, #a633cc 100%);
	background:-ms-linear-gradient(top, #cc33cc 5%, #a633cc 100%);
	background:linear-gradient(to bottom, #cc33cc 5%, #a633cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc33cc', endColorstr='#a633cc',GradientType=0);
	background-color:#cc33cc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color5.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc33cc), color-stop(1, #5933cc));
	background:-moz-linear-gradient(top, #cc33cc 5%, #5933cc 100%);
	background:-webkit-linear-gradient(top, #cc33cc 5%, #5933cc 100%);
	background:-o-linear-gradient(top, #cc33cc 5%, #5933cc 100%);
	background:-ms-linear-gradient(top, #cc33cc 5%, #5933cc 100%);
	background:linear-gradient(to bottom, #cc33cc 5%, #5933cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc33cc', endColorstr='#5933cc',GradientType=0);
	background-color:#cc33cc;
}
.left #color6.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc33a6), color-stop(1, #cc33cc));
	background:-moz-linear-gradient(top, #cc33a6 5%, #cc33cc 100%);
	background:-webkit-linear-gradient(top, #cc33a6 5%, #cc33cc 100%);
	background:-o-linear-gradient(top, #cc33a6 5%, #cc33cc 100%);
	background:-ms-linear-gradient(top, #cc33a6 5%, #cc33cc 100%);
	background:linear-gradient(to bottom, #cc33a6 5%, #cc33cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc33a6', endColorstr='#cc33cc',GradientType=0);
	background-color:#cc33a6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  width: 178px;
  height: 60px;
}
.left #color6.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc33cc), color-stop(1, #cc33a6));
	background:-moz-linear-gradient(top, #cc33cc 5%, #cc33a6 100%);
	background:-webkit-linear-gradient(top, #cc33cc 5%, #cc33a6 100%);
	background:-o-linear-gradient(top, #cc33cc 5%, #cc33a6 100%);
	background:-ms-linear-gradient(top, #cc33cc 5%, #cc33a6 100%);
	background:linear-gradient(to bottom, #cc33cc 5%, #cc33a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc33cc', endColorstr='#cc33a6',GradientType=0);
	background-color:#cc33cc;
}
.left .button:active {
	position:relative;
	top:1px;
}

/*Buttons in the sidebar
.left .button {
    background-color: #F1BE48;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 178px;
    display: block;
}
/*When hovering over the button
.left .button:hover {
  background-color: #C8102E;
}
/*When clicking the button
.left .button:active {
  background-color: #C8102E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.commentButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.commentButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.commentButton:active {
	position:relative;
	top:1px;
}

.burning {
	color: #FFF0E8;
	font-family: 'KomikaAxisRegular';
	text-shadow: 0 -1px 4px #FFFFFF, 0 -2px 10px #FFDD00,
			0 -10px 20px #ff8000, 0 -15px 20px red;
}
.neon {
	color: #D0F8FF;
	font-family: 'OrbitronLight';
	text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
			0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
			0 0 40px #A5F1FF;
}
.blur {
	color: rgba(255,255,255,0);
	text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF;
}
.threed {
	color: #CCCCCC;
	font-family: 'MEgalopolisExtraRegular';
	text-shadow:
		0 1px 0 #999999,
		0 2px 0 #888888,
		0 3px 0 #777777,
		0 4px 0 #666666;
}

/*Comment button
.commentButton {
	background-color:#44c767;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:13px;
	padding:8px 36px;
	text-decoration:none;
	text-shadow:0px 0px 10px #2f6627;
}
.commentButton:hover {
	background-color:#5cbf2a;
}
.commentButton:active {
	position:relative;
	top:1px;
}
*/
.hidden {
    display:none;
}

.unhidden {
    display:block;
}

/* Style for the vote buttons*/
.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}


.vote.on {
  background-position: 0 2px;
}
