.container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 100%;
}
/*Defining size to help with sections*/
html {
  height: 100%;
}
.neon {
  color: #D0F8FF;
	font-family: 'OrbitronLight';
	text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
			0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
			0 0 40px #A5F1FF;
}
/* The style for our 3 main secions */
.top {
    position:absolute;
    left:0; right:0;
    height: 90px;
    background: #ff0000;
}
.main {
    position: absolute;
    left:0; top:90px; right:0; bottom:0;
    border: 3px solid black;
    background: #5972a7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff0000, #5972a7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #5972a7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #5972a7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #5972a7); /* Standard syntax (must be last) */
}
/* Style for common links on all pages */
a.logout {
  color: #524727;
  text-decoration: none;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #5972a7 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#5972a7',GradientType=0);
	background-color:#ff0000;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #ff0000 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#ff0000',GradientType=0);
	background-color:#5972a7;
}
.button:active {
	position:relative;
	top:1px;
}
#color1.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33cc33), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #33cc33 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #33cc33 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #33cc33 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #33cc33 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #33cc33 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cc33', endColorstr='#ff0000',GradientType=0);
	background-color:#33cc33;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color1.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #33cc33));
	background:-moz-linear-gradient(top, #ff0000 5%, #33cc33 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #33cc33 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #33cc33 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #33cc33 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #33cc33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#33cc33',GradientType=0);
	background-color:#33cc33;
}
#color2.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccc33), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #cccc33 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #cccc33 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #cccc33 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #cccc33 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #cccc33 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccc33', endColorstr='#ff0000',GradientType=0);
	background-color:#cccc33;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color2.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #cccc33));
	background:-moz-linear-gradient(top, #ff0000 5%, #cccc33 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #cccc33 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #cccc33 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #cccc33 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #cccc33 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#cccc33',GradientType=0);
	background-color:#ff0000;
}
#color3.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33cccc), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #33cccc 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #33cccc 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #33cccc 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #33cccc 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #33cccc 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cccc', endColorstr='#ff0000',GradientType=0);
	background-color:#33cccc;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color3.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #33cccc));
	background:-moz-linear-gradient(top, #ff0000 5%, #33cccc 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #33cccc 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #33cccc 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #33cccc 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #33cccc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#33cccc',GradientType=0);
	background-color:#ff0000;
}
#color4.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3333cc), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #3333cc 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #3333cc 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #3333cc 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #3333cc 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #3333cc 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3333cc', endColorstr='#ff0000',GradientType=0);
	background-color:#3333cc;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color4.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #3333cc));
  background:-moz-linear-gradient(top, #ff0000 5%, #3333cc 100%);
  background:-webkit-linear-gradient(top, #ff0000 5%, #3333cc 100%);
  background:-o-linear-gradient(top, #ff0000 5%, #3333cc 100%);
  background:-ms-linear-gradient(top, #ff0000 5%, #3333cc 100%);
  background:linear-gradient(to bottom, #ff0000 5%, #3333cc 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#3333cc',GradientType=0);
  background-color:#ff0000;
}
#color5.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a633cc), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #a633cc 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #a633cc 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #a633cc 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #a633cc 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #a633cc 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a633cc', endColorstr='#ff0000',GradientType=0);
	background-color:#a633cc;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color5.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #a633cc));
	background:-moz-linear-gradient(top, #ff0000 5%, #a633cc 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #a633cc 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #a633cc 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #a633cc 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #a633cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#a633cc',GradientType=0);
	background-color:#ff0000;
}
#color6.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b0b0b0;
	box-shadow:inset 0px 1px 0px 0px #b0b0b0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc33cc), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #cc33cc 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #cc33cc 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #cc33cc 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #cc33cc 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #cc33cc 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc33cc', endColorstr='#ff0000',GradientType=0);
	background-color:#cc33cc;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  width: 178px;
  height: 50px;
}
#color6.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #cc33cc));
	background:-moz-linear-gradient(top, #ff0000 5%, #cc33cc 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #cc33cc 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #cc33cc 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #cc33cc 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #cc33cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#cc33cc',GradientType=0);
	background-color:#ff0000;
}
/* Style for home boxes*/
.home {
  left: 0; right: 0;
  border: 2px solid black;
}
/*Style for the boxes on the homepage*/
p {
  font-size: 24px;
}

.footer {
  line-height: 60px;
}
