/* Color Guide
Cardinal: #C8102E
Gold: #F1BE48
Dark Brown: #524727
Light Brown Greenish: #9B945F
Light Brown: #CAC7A7
*/

body {
   background-color: #C8102E;
}
h1 {
   color: #F1BE48;
}

login-form {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* The style for our 3 main secions */
.top {
    position:absolute;
    left:0; right:0;
    height: 80px;
    /* border: 3px solid black; */
}
.left {
    position: absolute;
    left:0; top:92px; bottom: 0;
    width: 180px;
    border: 3px solid black;
}
.main {
    position: absolute;
    left:183px; top:92px; right:0; bottom:0;
    border: 3px solid black;
}
/* Style for common links on all pages */
a.logout {
  color: #524727;
  text-decoration: none;
}
a.home {
  color: #CAC7A7;
  text-decoration: none;
}
a.notifications {
  color: #F1BE48;
  text-decoration: none;
}
